//Header
.site-header{
	background-color: @bg-dark;
	border-bottom: solid #555456 1px;
	
	.container{
		display: flex;
		flex-direction: row;
		align-items: center;
	}//.container
}//.site-header

.logo{
	font-size: 2.857em;
	display: inline;
	
	span{
		&:first-child{
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			color: #fff;
		}

		&:last-child{
			font-family: "Pacifico", sans-serif;
			font-weight: 400;
			color: @greenlight;
		}
	}//span
}//.logo

.menu {
	margin: 55px 0px 30px 0;

	.menu-item{
		&:extend(.ul-unstyled);
		display: inline-block;
		margin: 0 20px;

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}//.menu-item

	.menu-link{
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		display: block;
		text-transform: uppercase;
		transition: all .3s ease-in-out;

		&:hover{
			color: @greenlight;
			border-bottom: solid @greenlight 1px;
			padding-bottom: 1em;
		}
	}//.menu-link


	.active{
		color: @greenlight;
		border-bottom: solid @greenlight 1px;
		padding-bottom: 1em;
	}//.active
}//.menu

//Banner
.banner{
	background-color: @bg-dark;
	text-align: center;

	h1{
		font-family: 'Exo', sans-serif;
		font-weight: 400;
		font-size: 3.4em;
		color: #fff;
		margin-top: 260px;

		span{
			font-family: 'Exo', sans-serif;
			font-weight: 900;
			color: @greenlight;
		}//span
	}//h1

	p{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.2857em;
		color: #fff;
		line-height: 1.8;
		margin-bottom: 270px;
	}//p
}//.banner

//Welcome
.welcome{
	background-color: @bg-light;
	text-align: center;

	.title{

		span{
			color: @greenlight;
			text-transform: uppercase;
		}//span
	}//.title

	p{
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		color: #999791;
		font-size: 1.2857em;
		margin-top: 0;
		margin-bottom: 30px;
		padding: 0px 125px;
	}//p
}//.welcome

.services{
	border: solid 2px #999791;
	margin: 50px 25px 0 25px;
	padding-top: 25px;
	cursor: pointer;

	i{
		font-size: 1.71em;
	}//i

	h3{
		font-size: 1.71em;
		margin-top: 0;
	}//h3

	span{
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		line-height: 2;
		color: #999791;
	}
}